@font-face {
    font-family: mithril;
    src: url(fonts/arialmt.ttf) format('truetype');
}

body {
    background-color: black;
}

::-webkit-scrollbar {
    width: 0px;
}

*, ::after, ::before {
    box-sizing: border-box;
}

* {
    padding: 0;
    margin: 0;
    font-family: "Montserrat", serif;
    font-optical-sizing: auto;
    font-weight: 750;
    font-style: normal;
    overflow-x: hidden;
    user-select: none;
    color: white;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1080px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.listHeaderPC {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Montserratt;
    font-weight: 750;
    font-size: 20px;
    letter-spacing: 1.8px;
    width: 100%;
    height: auto;
    padding: 20px 0;
    margin-top: 1px;
    transition: max-height 0.5s ease-in-out;
}

.listButton ul li:not(#closeMenu):hover {
    background: #3b82f6;
    transition: 0.07s ease-in-out;
}

.listButton ul li a {
    padding: 10px;
}

#closeMenu {
    display: none;
}

.main {
    background: #3b82f6;
}

.listButton ul li:last-child {
    margin-right: 0;
}

.ipPC {
    padding: 12px 17px;
    border: none;
    outline: none;
    background-color: #81c716;
    color: #173d14;
    cursor: pointer;
    border-radius: 5px;
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 1.8px;
    transition: 0.09s ease-in-out;
}

.ipPC:hover {
    background-color: #abf739;
    transition: 0.09s ease-in-out;
}

#online {
    color: #173d14;
    font-size: 19px;
}

.listImagePC {
    width: 100%;
    height: 350px;
    position: relative;
    overflow: hidden;
    border-radius: 10px;
    margin-top: 40px;
}

.listImagePC img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(1);
    position: relative;
}

.textImage {
    position: absolute;
    top: 10px;
    left: 10px;
    padding: 45px 0;
    padding-left: 70px;
}

.textImage h1 {
    letter-spacing: 10px;
    font-size: 50px;
}

.textImage h2 {
    font-size: 27px;
    letter-spacing: 2px;
    color: #fbf0b3;
    padding-top: 6px;
}

.listProducts {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
    grid-gap: 40px;
    padding-top: 50px;
}

.itemCategorie {
    cursor: pointer;
    width: 100%;
    height: 450px;
    background-color: #f1d5cb;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

.CategorieSales {
    padding: 10px 11px;
    background-color: #ff4343;
    box-shadow: 1px 1px 10px #ff4343;
    border-radius: 0 0 5px 5px;
    position: absolute;
    left: 30px;
}

.itemCategorie img {
    height: 280px;
}

.descriptionCategorie {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.descriptionCategorie h1 {
    color: black;
    letter-spacing: 1px;
    font-weight: 700;
}

.descriptionCategorie h2 {
    color: black;
}

.itemCategorie button {
    border: none;
    outline: none;
    background-color: black;
    border-radius: 8px;
    width: 90%;
    height: 70px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.07s ease-in-out;
    position: absolute;
    bottom: 10px;
}

.itemCategorie button:hover {
    background-color: #3c3733;
    transition: 0.07s ease-in-out;
}

.itemCategorie button i {
    font-size: 15px;
    margin-right: 10px;
}

footer {
    width: 100%;
    height: 150px;
    background-color: #c6ff55;
    margin: 60px 0 100px 0;
    border-radius: 6px;
}

.topFooter {
    width: 100%;
    height: 65px;
    background-color: #97db29;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
}

.leftFooterTop button {
    background-color: #82c419;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    padding: 12px 18px;
    letter-spacing: 1.8px;
    color: #173d14;
    transition: 0.07s ease-in-out;
    cursor: pointer;
    font-weight: 600;
}

.leftFooterTop span {
    font-size: 20px;
    letter-spacing: 1.8px;
    font-weight: 600;
    background-color: #82c419;
    color: #173d14;
    padding: 12px 14px;
    border-radius: 5px;
}

.rightFooterTop ul li {
    display: inline;
    margin-left: 18px;
}

.rightFooterTop ul li a i {
    color: #33772f;
    font-size: 34px;
    transition: 0.07s ease-in-out;
}

.rightFooterTop ul li a i:hover {
    transition: 0.07s ease-in-out;
    color: #2a5e27;
}

.bottomFooter {
    display: flex;
    justify-content: space-between;
    padding: 0 30px;
    align-items: center;
    height: 85px;
}

/*--- СИСТЕМНЫЕ НАСТРОЙКИ ---*/

#notification {
    position: fixed;
    bottom: 20px;
    left: 20px;
    padding: 20px 24px;
    background-color: rgba(110, 216, 23, 0.5); /* Полупрозрачный зеленый фон */
    backdrop-filter: blur(10px); /* Эффект размытия */
    border-radius: 5px;
    font-size: 15px;
    font-weight: 600;
    letter-spacing: 0.8px;
    transition: 0.07s ease-in-out;
    display: none;
    z-index: 9999;
}

#coupon {
    width: 70px;
    height: 70px;
    background-color: red;
    font-size: 25px;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 200px;
    right: 20px;
    transition: 0.07s ease-in-out;
}
#nickname {
    width: 70px;
    height: 70px;
    background-color: #21d111;
    border: none;
    outline: none;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 120px;
    right: 20px;
    transition: 0.07s ease-in-out;
}
#mail {
    width: 70px;
    height: 70px;
    background-color: #3b82f6;
    border: none;
    outline: none;
    font-size: 27px;
    cursor: pointer;
    border-radius: 5px;
    position: fixed;
    top: 280px;
    right: 20px;
    transition: 0.07s ease-in-out;
}

#nickname img {
    height: 45px;
    width: 45px;
}

#coupon:hover {
    background-color: #ab0e0e;
    transition: 0.07s ease-in-out;
}
#nickname:hover {
    background-color: #15921c;
    transition: 0.07s ease-in-out;
}
#mail:hover {
    background-color: #2455a4;
    transition: 0.07s ease-in-out;
}

.couponWindown, .nicknameWindown, .mailWindown {
    width: 700px;
    height: auto;
    background-color: #0d0e0f;
    position: fixed;
    left: 50%;
    top: 45%;
    transform: translate(-50%, -50%);
    z-index: 10001;
    border-radius: 5px;
    display: none;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.8);
}

.closedCoupon, .closedNickname, .closedMail {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
}

.closedCoupon button, .closedNickname button, #closeTerm, .closedMail button, .descriptionProduct button {
    border: none;
    outline: none;
    padding: 10px 14px;
    background-color: #232627;
    color: #b3b7bc;
    font-size: 20px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.07s ease-in-out;
}

.closedCoupon button:hover, .closedNickname button:hover, #closeTerm:hover, .closedMail button:hover, .descriptionProduct button:hover {
    background-color: #ff4343;
    transition: 0.07s ease-in-out;
}

.containerModal {
    max-width: 640px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

#notificationCoupon, #notificationNickname, #notificationMail {
    background-color: red;
    padding: 15px;
    font-weight: 600;
    font-size: 17px;
    border-radius: 5px;
    display: none;
}

.inputCoupon, .inputNickname, .inputMail {
    width: 100%;
    padding: 59px 0;
    background-color: #81c716;
    margin-top: 30px;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputCoupon input, .inputNickname input {
    width: 260px;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #181a1b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.inputMail input {
    width: 360px;
    height: 50px;
    color: white;
    border: none;
    outline: none;
    border-radius: 5px;
    background-color: #181a1b;
    font-size: 20px;
    text-align: center;
    letter-spacing: 1.2px;
    font-weight: 600;
}

.inputCoupon button, .inputNickname button {
    width: 260px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #173d14;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 0.07s ease-in-out;
    margin-top: 10px;
}

.inputMail button {
    width: 360px;
    height: 55px;
    background-color: rgba(255, 255, 255, 0.3);
    color: #173d14;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 0.2px;
    cursor: pointer;
    transition: 0.07s ease-in-out;
    margin-top: 10px;
}

.inputCoupon button:hover, .inputNickname button:hover, .inputMail button:hover {
    background-color: rgba(255, 255, 255, 0.6);
    transition: 0.07s ease-in-out;
}

.descriptionCoupon h2, .descriptionNickname h2, .descriptionMail h2 {
    margin: 18px 0;
}

.descriptionCoupon p, .descriptionNickname p, .descriptionMail p {
    color: #b3b4b6;
    letter-spacing: 0.4px;
    line-height: 1.6;
    padding-bottom: 35px;
}

.toggleMenu button {
    border: none;
    outline: none;
    font-size: 20px;
    background-color: black;
    color: white;
    font-weight: 600;
    position: relative;
    top: 20px;
    left: 20px;
    cursor: pointer;
}

.toggleMenu {
    height: 40px;
    display: none;
}

/*--- TERM LIST DONATS ---*/

#termDonate {
    width: 900px;
    height: auto;
    max-height: 750px;
    background-color: #0d0e0f;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1000;
    border-radius: 5px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.8);
    display: none;
}

#termDonate p {
    color: #b3b7bc;
    font-size: 13px;
    letter-spacing: 1.6px;
    padding-top: 10px;
}

.containerList {
    max-width: 740px;
    width: 100%;
    padding-right: calc(var(--bs-gutter-x) * .5);
    padding-left: calc(var(--bs-gutter-x) * .5);
    margin-right: auto;
    margin-left: auto;
}

.textAdvice {
    margin-bottom: 30px;
}

.termList {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 7px;
    height: auto;
    padding: 20px 0;
}

.infoTerm {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.infoTerm h1 {
    background-color: #eaa21a;
    padding: 14px 17px;
    color: #7c2d12;
    font-size: 25px;
    letter-spacing: 1.8px;
    font-weight: 600;
    margin-top: 35px;
    border-radius: 5px;
}

.infoTerm h3 {
    font-size: 30px;
    letter-spacing: 3px;
    margin-top: 20px;
}

#closeTerm {
    position: fixed;
    right: 20px;
    top: 20px;
}

.infoTerm p {
    margin-top: 30px;
    color: #b3b7bc;
}

.itemTerm {
    width: 100%;
    height: 340px;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#infoProduct {
    position: relative;
    right: 95px;
    bottom: 300px;
    background-color: none;
    border: none;
    outline: none;
    font-size: 23px;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.000002);
}

#infoProduct i {
    color: black;
    transition: 0.07s ease-in-out;
}

.itemTerm img {
    height: 230px;
}

.itemTerm p {
    color: black;
    font-weight: 700;
    font-size: 26px;
    border-bottom: 2px solid #7c2d12;
    padding-top: 10px;
}

.itemTerm button{
    border: none;
    outline: none;
    background-color: black;
    border-radius: 5px;
    width: 70%;
    height: 40px;
    font-size: 18px;
    font-weight: 800;
    cursor: pointer;
    transition: 0.07s ease-in-out;
}

.itemTerm button:hover {
    background-color: #3c3733;
    transition: 0.07s ease-in-out;
}

.itemTerm span {
    color: black;
    font-size: 20px;
}

.itemTerm h3 {
    color: black;
    font-weight: 600;
    font-size: 23px;
    padding-bottom: 20px;
}


.descriptionProduct {
    width: 300px;
    height: auto;
    padding-bottom: 15px;
    padding-left: 10px;
    background-color: #0d0e0f;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 1001;
    border-radius: 5px;
    transition: opacity 0.5s ease, transform 0.5s ease;
    box-shadow: 0 0 0 10000px rgba(0, 0, 0, 0.8);
    display: none;
}

.closeAndTitleProduct {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px;
}

.closeAndTitleProduct p {
    font-size: 20px;
}

#descriptProduct p {
    font-size: 15px;
    color: #b3b7bc;
}

#message {
    width: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    height: auto;
    padding: 30px 5px;
    position: fixed;
    bottom: 0.1px;
    backdrop-filter: blur(8px);
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.5);
}

#message .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#message #closeMessage {
    position: fixed;
}

#message .container button {
    background-color: #70ca34;
    border: none;
    outline: none;
    border-radius: 5px;
    font-size: 17px;
    padding: 12px;
    color: #173d14;
    transition: 0.07s ease-in-out;
    cursor: pointer;
    font-weight: 900;
}

#message .container button:hover {
    background-color: #7be037;
    transition: 0.07s ease-in-out;
}

.imgAredo {
    height: 172px;
    width: 172px;
    position: absolute;
    transition: 0.05s ease-in-out;
}

.topFooter, .bottomFooter {
    padding-left: 150px;
}

.howCommand {
    display: flex;
    justify-content: center;
    align-items: center;
}

.howCommands {
    position: relative;
    margin-top: 90px;
    font-size: 21px;
    color: rgb(136, 136, 136);
    text-decoration: underline;
    cursor: pointer;
    transition: 0.07s ease-in-out;
}

.howCommand button {
    margin-top: 70px;
    background-color: black;
    border: none;
    outline: none;
}

.howCommands:hover {
    color: rgb(182, 182, 182);
    transition: 0.07s ease-in-out;
}

#snowCanvas {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 10100101;
    pointer-events: none;
}

.lastPurchases {
    width: 100%;
    height: 20px;
    display: flex;
    max-height: 200px;
    padding: 0 10px;
}

#listPurchases {
    display: flex;
    gap: 15px;
    overflow-x: scroll;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding: 10px 0;
    white-space: nowrap;
    flex-direction: row-reverse;
    justify-content: flex-end;
}

#listPurchases::-webkit-scrollbar {
    display: none; /* Скрыть полосу прокрутки для Chrome, Safari */
}


#listPurchases::-webkit-scrollbar {
    height: 6px;
}

#listPurchases::-webkit-scrollbar-thumb {
    background-color: #555;
    border-radius: 3px;
}

#listPurchases::-webkit-scrollbar-track {
    background: #272727;
}


.lastPurchasesItem {
    display: flex;
    background-color: #272727d6;
    justify-content: space-between;
    flex-shrink: 0;
    width: 190px;
    align-items: center;
    padding: 10px;
    border-radius: 5px;
    margin-right: 7px;
    color: #fff;
}

.PurchasesOne img {
    width: 40px;
    height: 40px;
}

.PurchasesTwo {
    flex: 1;
    padding-left: 10px;
}

.purchasesdonate {
    color: #81c716;
    font-weight: bold;
    font-size: 14px;
}

.purchasestime {
    color: #b3b3b3;
    font-size: 12px;
}

.lastPurchasess h3 {
    font-size: 26px;
}

.lastPurchasess {
    margin-top: 50px;
    margin-bottom: 30px;
}

.preloader {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 70px;
    margin-bottom: 70px;
}

.preloader__hide {
    display: none;
}

.preloader span {
    color: white;
}

@keyframes ldio-x2uulkbinbj-1 {
    0% { top: 14.47125px; height: 56.1825px; }
    50% { top: 28.516875px; height: 28.09125px; }
    100% { top: 28.516875px; height: 28.09125px; }
  }
  @keyframes ldio-x2uulkbinbj-2 {
    0% { top: 17.98265625px; height: 49.1596875px; }
    50% { top: 28.516875px; height: 28.09125px; }
    100% { top: 28.516875px; height: 28.09125px; }
  }
  @keyframes ldio-x2uulkbinbj-3 {
    0% { top: 21.4940625px; height: 42.136875px; }
    50% { top: 28.516875px; height: 28.09125px; }
    100% { top: 28.516875px; height: 28.09125px; }
  }
  @keyframes color-shift {
    0%, 100% { background-color: #989898; }
    50% { background-color: #fff; }
  }
  
  .ldio-x2uulkbinbj div { 
    position: absolute; 
    width: 16.17375px; 
    animation: color-shift 1.5s linear infinite; /* Добавление анимации смены цвета */
  }
  .ldio-x2uulkbinbj div:nth-child(1) {
    left: 13.194375px;
    animation: ldio-x2uulkbinbj-1 0.7299270072992701s cubic-bezier(0, 0.5, 0.5, 1) infinite, color-shift 1.5s linear infinite;
    animation-delay: -0.145985401459854s;
  }
  .ldio-x2uulkbinbj div:nth-child(2) {
    left: 34.475625px;
    animation: ldio-x2uulkbinbj-2 0.7299270072992701s cubic-bezier(0, 0.5, 0.5, 1) infinite, color-shift 1.5s linear infinite;
    animation-delay: -0.072992700729927s;
  }
  .ldio-x2uulkbinbj div:nth-child(3) {
    left: 55.756875px;
    animation: ldio-x2uulkbinbj-3 0.7299270072992701s cubic-bezier(0, 0.5, 0.5, 1) infinite, color-shift 1.5s linear infinite;
  }
  
  .loadingio-spinner-pulse-nq4q5u6dq7r {
    width: 85.125px;
    height: 85.125px;
    display: inline-block;
    overflow: hidden;
    background: rgba(255, 255, 255, 0);
  }
  .ldio-x2uulkbinbj {
    width: 100%;
    height: 100%;
    position: relative;
    transform: translateZ(0) scale(1);
    backface-visibility: hidden;
    transform-origin: 0 0; /* see note above */
  }
  .ldio-x2uulkbinbj div { 
    box-sizing: content-box; 
  }
  /* [ldio] generated by https://loading.io */
  
.listgroupDescription {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(360px, 1fr));
    grid-gap: 17px;
    padding-top: 50px;
}

.groupDescripton {
    width: 100%;
    background-color: #2727277a;
    padding: 18px;
    border-radius: 6px;
}

.groupDescripton ul h2 {
    color: #81c716;
    padding: 10px 0;
    padding-top: 30px;
}

.groupDescripton ul img {
    width: 500px;
}